* {
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
}
.p1 {
  position: absolute;
  top: 55px;
  right: 0;
}
.p2 {
  position: absolute;
  top: 25em;
  left: 0;
}
.p3 {
  position: absolute;
  top: 78.05em;
  z-index: 2;
  right: 6.4em;
}
.p4 {
  position: absolute;
  z-index: 2;
  top: 103em;
  left: 0;
}
body {
  margin-bottom: 50em;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
header {
  border: 2px solid black;
  width: 100vw;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}
.logo {
  display: flex;
  align-items: center;
  margin-left: 8em;
  width: 8em;
  height: 55px;
}
.h1 {
  margin-right: 5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}
.h1 div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: xx-small;
  font-weight: bold;
  width: 70%;
}
.h1 div div {
  width: 9em;
  height: 2em;
}
.btn-1 {
  background-color: white;
  box-shadow: 0px 0px 1.5px rgb(59, 58, 58);
  letter-spacing: 1px;
  width: 10em;
  height: 2.5em;
  font-size: x-small;
  font-weight: bolder;
  border: 2px solid black;
}
.banner {
  height: 100vh;
}
.banner-content {
  height: 70%;
  background: rgb(44, 38, 64);
  border: 1px solid rgb(44, 38, 64);
}
.line1 {
  width: 2.2em;
  margin-top: 0.5em;
  margin-bottom: 0.7em;
  border: 2px solid white;
}
.banner .b-img {
  margin: 6.5em 7.5em 0 0;
  float: right;
}
.big-text {
  font-family: serif;
  color: white;
  font-size: 5.3em;
  font-weight: bolder;
  line-height: 0.8em;
}
.text {
  margin: 3em 8em;
  width: 55%;
}
.big-text span {
  font-size: 5.1rem;
  font-family: serif;
}
.small-text {
  font-family: serif;
  color: white;
  margin: 1.5rem 0;
  letter-spacing: 0.2px;
  word-spacing: 0.9px;
  font-weight: bold;
  font-size: larger;
  line-height: 1.5rem;
}
.btn2 {
  color: white;
  background-color: rgba(44, 38, 64, 0.825);
  letter-spacing: 1px;
  width: 15em;
  height: 4em;
  font-size: x-small;
  font-weight: bolder;
  border: 2px solid white;
}
.content {
  padding: 0 7.5em 0 8em;
}
.line2 {
  width: 10.5em;
  margin-bottom: 2em;
  border: 3px solid rgba(128, 128, 128, 0.295);
}
.content h1 {
  font-family: serif;
  font-size: 4.5em;
  word-spacing: 1px;
}
.tab {
  margin: 2em 0 3em 0;
  width: 100%;
  height: 15em;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

#tab1,
#tab2,
#tab3 {
  width: 26%;
  height: 100%;
}
.tab1,
.tab2,
.tab3 {
  background-color: rgb(150, 169, 199);
  width: 4.5em;
  height: 4.5em;
  display: flex;
  margin: 0 0 1em 0;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid white;
}
h2 {
  margin-bottom: 0.5em;
  font-family: serif;
}
.b2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 15em;
  z-index: -1;
  background: rgb(44, 38, 64);
  margin-bottom: 20px;
}
.b2 h2 {
  margin: 1em 1.5em;
  color: white;
  font-size: 3.5rem;
}
.b2 button {
  margin: auto 10em;
  color: white;
  z-index: 3;
  background-color: rgba(44, 38, 64, 0.825);
  letter-spacing: 1px;
  width: 15em;
  height: 4em;
  font-size: x-small;
  font-weight: bolder;
  border: 2px solid white;
}
.foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7.5em 0 8em;
  width: 100%;
  height: 3.5em;
  background-color: rgb(250, 249, 249);
}

.foot .media {
  margin-right: 1.5em;
  height: 2em;
  width: 10em;
  font-size: 1.2em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.foot .logo {
  z-index: 3;
  display: flex;
  align-items: center;
  width: 8em;
  height: 55px;
}

.foot-content {
  display: flex;
  padding: 0 7.5em 0 8em;
  text-align: left;
  padding-top: 1em;
}

.foot-content ul {
  line-height: 2.8em;
  list-style-type: none;
  margin-right: auto;
  font-weight: bolder;
  z-index: 3;
}

.foot-content ul::first-line {
  line-height: 2.5em;
  list-style-type: none;
  margin-right: auto;
  font-weight: normal;
}
.bottom {
  z-index: 1;
  margin-top: 10em;
  background-color: rgb(250, 249, 249);
  height: 24em;
}
.line3 {
  margin-bottom: 2em;
  margin: 0 7.5em 0 8em;
  border: 2.5px solid rgba(128, 128, 128, 0.295);
}
